{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %} 
<div class="row" >
{{include ("shared/_body.html.twig")}}
<div class="col-6">

</div>
{% endblock %}
