{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Bienvenue</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">La Passerelle</small></h1>
           <p>Métier d’avenir, la développeuse ou développeur web est responsable de la création de sites et d’applications web et web mobiles. C’est le métier technique central
            du secteur du numérique, qui évolue très rapidement au rythme de la croissance du web.
            Étant donné cette vitesse d’évolution, les formations longues de 2 à 5 ans sont rapidement obsolètes. C’est pourquoi La Passerelle vous propose une formation moins
            longue mais très intensive et focalisée sur la pratique : c’est ce qu’on appelle une formation bootcamp. Vous apprendrez ainsi : .</p>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Bienvenue</button>
          </div>
        </div>



{% endblock %}
