<nav>
    <ul>
        <li><a href="{{ path('app_index') }}">Accueil</a></li>
         <li><a href="{{ path('app_login') }}">Connexion</a></li>
          <li><a href="{{ path('app_user_index') }}">user</a></li>
    </ul>
</nav>