{% extends 'base.html.twig' %}
{% block body %}



    Bonjour
    
    {# <dialog open>
        <p>test test</p>
        <form method="dialog">
            <button type="submit">fermé</button>
        </form>
    </dialog> #}
{% endblock %}

