{% extends 'base.html.twig' %}
{% block body %}

{{ include('application/_navigation.html.twig') }}

    Bonjour

    <dialog open>
        <p>test test</p>
        <form method="dialog">
            <button type="submit">fermé</button>
        </form>
    </dialog>
{% endblock %}

