
<span class="alert alert-success">
    <h3>Félicitations votre parcours personnalisé est terminé !</h3>
    <p>Vous allez être redirigé automatiquement dans <span id="valueSecond">5</span> sec.</p>
    <p>Si la page ne change pas, veuillez-cliquer sur ce lien <a href="/login">page d'accueil</a></p>
</span>

<script>
    let chiffre = 5;
    // Affiche dans le navigateur les nombres à partir de 5
    let idInterval = setInterval (function() {
        
        document.getElementById('valueSecond').innerHTML = chiffre;

        chiffre--;
    }, 1000);

    setTimeout(clearInterval, 10000, idInterval);

</script>
