<form action="" method="POST" id="modal-form">
    <input type="hidden" name="form-name" id="form-name" value="{{formName}}">
    <input type="hidden" name="step" id="step" value="{{step}}">
    <input type="hidden" name="previous-step" id="previous-step" value="{{previousStep}}">

    <div class="modal-header">
        <h2 class="modal-title fs-5" id="ModalLabel">Mes préférences de films - catégories</h2>
        {# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> #}
    </div>
    <div class="modal-body">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{message|raw}}
            </div>
        {% endif %}     

        <p>Saisissez vos genres de films :</p>

        <label for="genres">Action</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Action"></br>

        <label for="genres">Aventure</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Aventure"></br>

        <label for="genres">Animation</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Animation"></br>
        
        <label for="genres">Comédie</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Comédie"></br>

        <label for="genres">Policier</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Crime"></br>

        <label for="genres">Documentaire</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Documentaire"></br>

        <label for="genres">Drame</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Drame"></br>

        <label for="genres">Familial</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Familial"></br>

        <label for="genres">Fantastique</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Fantastique"></br>

        <label for="genres">Histoire</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Histoire"></br>
        
        <label for="genres">Horreur</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Horreur"></br>

        <label for="genres">Musique</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Musique"></br>

        <label for="genres">Romance</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Romance"></br>

        <label for="genres">Science-Fiction</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Science-Fiction"></br>

        <label for="genres">Thriller</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Thriller"></br>

        <label for="genres">Guerre</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Guerre"></br>

        <label for="genres">Western</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Western"></br>

    </div>

    <div class="modal-footer">
        <button type="submit" id="submit">Valider</button>
    </div>
</form>
