<h2>Mes cinémas préférés</h2>

{# bla bla 
<form action="">
    <input type="text" name="location" id="locatio">
    <button type="submit">Valider</button>
    {% for suggestion in suggestions %}
        
    {% endfor %}
</form>
#}