<form action="" method="POST" id="modal-form">
    <input type="hidden" name="form-name" id="form-name" value="{{formName}}">
    <input type="hidden" name="step" id="step" value="{{step}}">
    <input type="hidden" name="previous-step" id="previous-step" value="{{previousStep}}">

    <div class="modal-body">
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message|raw}}
        </div>
        {% endif %}

    <p>Choisissez votre zone d'emplacement préférée :</p>

    <label for="seats">BG</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="BG">

    <label for="seats">BC</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="BC">

    <label for="seats">BD</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="BD"></br>

    <label for="seats">MG</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="MG">

    <label for="seats">MC</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="MC">

    <label for="seats">MD</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="MD"></br>

    <label for="seats">HG</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="HG">

    <label for="seats">HC</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="HC">

    <label for="seats">HD</label>
    <input type="checkbox" name ="seats[]" id ="seats" value="HD"></br>

    </div>
    <div class="modal-footer">
        <button type="submit" id="submit">Valider</button>
    </div>
</form>
