<form action="" method="POST" id="modal-form">
    <input type="hidden" name="form-name" id="form-name" value="{{formName}}">
    <input type="hidden" name="step" id="step" value="{{step}}">
    <input type="hidden" name="previous-step" id="previous-step" value="{{previousStep}}">

    <div class="modal-body">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{message|raw}}
            </div>
        {% endif %}     

    <div class="d-flex justify-content-between picto-haut">
            <div >
                <a href="modale-message.html"><img src="assets/icones/fleche-gauche.svg" alt="Icône Retour"></a>
            </div>
            <div class="croix">
                <a href="#"><img src="assets/icones/cross.svg" alt="Croix blanche"></a>
            </div>
        </div>
        <form class="row">
            
            <div class="bandeau-blanc col-12">
                <h1 class="text-center">Mes préférences de films</h1>
            </div>
            <div class="col-12">
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 60%"></div>
                </div>
            </div>
            <div class="row">
                <div class="icone-titre col-12">
                    <img class="moncompte" src="assets/icones/bobine-s.svg" alt="Compte">
                    <span class="compte" href="#">Sélectionnez vos genres de films : </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 d-flex">
                    <div class="table">
                        <select id=genre name="genre" multiple size="8" class="genre-tableau">
                            <option value="action">Action</option>
                            <option value="horreur">Horreur</option>
                            <option value="thriller">Thriller</option>
                            <option value="fantastique">Fantastique</option>
                            <option value="science-fiction">Science-Fiction</option>
                        </select>
                    </div>
                    <div class="table">
                        <select id=genre name="genre" multiple size="8" class="genre-tableau">
                            <option value="dramatique">Dramatique</option>
                            <option value="dramatique">Comédie</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row espace-fin-genre">
                <div class="col-6">
                </div>
                <div class="col-md-2">
                    <a class="bouton-retour" href="modale-emplacement.html">
                        <img src="./assets/icones/fleche-gauche-xs.svg" alt="Flèche gauche">Retour
                    </a>
                </div>
                <div class="col-md-2 suivant">
                    <a class="secondaire bouton" href="modale-preferences-film.html">
                        <span>Suivant</span>
    
                        <img src="./assets/icones/arrow-s.svg" alt="Flèche droite bleue">
                    </a>
                </div>

            </div>
        </form>

        <p>Saisissez vos genres de films :</p>

        <label for="genres">Action</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Action"></br>

        <label for="genres">Aventure</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Aventure"></br>

        <label for="genres">Animation</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Animation"></br>
        
        <label for="genres">Comédie</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Comédie"></br>

        <label for="genres">Policier</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Crime"></br>

        <label for="genres">Documentaire</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Documentaire"></br>

        <label for="genres">Drame</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Drame"></br>

        <label for="genres">Familial</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Familial"></br>

        <label for="genres">Fantastique</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Fantastique"></br>

        <label for="genres">Histoire</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Histoire"></br>
        
        <label for="genres">Horreur</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Horreur"></br>

        <label for="genres">Musique</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Musique"></br>

        <label for="genres">Romance</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Romance"></br>

        <label for="genres">Science-Fiction</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Science-Fiction"></br>

        <label for="genres">Thriller</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Thriller"></br>

        <label for="genres">Guerre</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Guerre"></br>

        <label for="genres">Western</label>
        <input type="checkbox" name ="genres[]" id ="genres" value="Western"></br>

    </div>
    <div class="modal-footer">
        <button type="submit" id="submit">Valider</button>
    </div>
</form>
