<form action="" method="POST" id="modal-form">
    <input type="hidden" name="form-name" id="form-name" value="{{formName}}">
    <input type="hidden" name="step" id="step" value="{{step}}">
    <input type="hidden" name="previous-step" id="previous-step" value="{{previousStep}}">

   <div class="modal-body">
        {% if message %}
            <div class="alert alert-danger" role="alert">
                {{message|raw}}
            </div>
        {% endif %}     

        <div class="d-flex justify-content-between picto-haut">
            <div >
                <a href="modale-message.html"><img src="assets/icones/fleche-gauche.svg" alt="Icône Retour"></a>
            </div>
            <div class="croix">
                <a href="#"><img src="assets/icones/cross.svg" alt="Croix blanche"></a>
            </div>
        </div>
        <div class="row">

            <div class="bandeau-blanc col-12">
                <h1 class="text-center">Votre espace fidélité</h1>
            </div>
            <div class="col-12">
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100" style="height: 10px">
                    <div class="progress-bar" style="width: 150%"></div>
                </div>
            </div>
            <div class="row">
                <div class="icone-titre col-12">
                    <img class="moncompte" src="assets/icones/cadeau-s.svg" alt="Compte" style="display: inline-block;">
                    <span class="compte" href="#">Sélectionnez vos préférences de cadeaux&nbsp; : </span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name ="gifts[]" value="Snacking" id="gifts">
                    <label class="form-check-label" for="gifts">
                        Snacking (popcorn, boissons...)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name ="gifts[]" value="Billets" id="gifts">
                    <label class="form-check-label" for="gifts">
                        Billets de cinéma
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name ="gifts[]" value="Coupons" id="gifts">
                    <label class="form-check-label" for="gifts">
                        Coupons remises
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name ="gifts[]" value="Goodies" id="gifts">
                    <label class="form-check-label" for="gifts">
                        Goodies
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name ="gifts[]" value="Reductions" id="gifts">
                    <label class="form-check-label" for="gifts">
                        Réductions restaurants partenaires
                    </label>
                </div>
            </div>
            <div class="separateur"></div>
            <div class="mentions">
                En validant la création de mon compte, j’accepte sans réserve les <a href="https://www.ugc.fr/conditions-MonCompte.html" target="_blank">Conditions générales d’Utilisation du Compte UGC</a> et je déclare être âgé(e) d’au moins 15 ans.
            </div>
            <br>
            <p class="mentions">
                Vous pouvez modifier vos choix à tout moment en vous connectant à votre compte ou en
                cliquant sur les liens de désinscription des emails.
                UGC traite ces données pour créer votre compte. Pour en savoir plus sur l’utilisation de
                vos données et pour exercer vos droits, consultez la <a href="https://www.ugc.fr/politique_confidentialite.html" target="_blank">Politique de confidentialité</a>. 
            </p>
        </div>
        <div class="row espace-fin">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <button type="submit" id="submit" class="cta bouton-selectionne">
                <img src="assets/icones/select.svg" alt="select">
                <span>Créer mon compte</span>
                </button>
            </div>

        </div>

    
    </div>
    
</form>
