{% extends 'base.html.twig' %}
{% block body %}



 Connexion
{{include ("shared/_body.html.twig")}}
 <form>
    <h1 class="h3 mb-3 fw-normal">Connexion</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
 <p>Si vous n'avez pas de compte, <a href="{{ path('app_register') }}">créez en un</a></p>

 <a href="{{ path('app_logout') }}">déconnexion</a>
{% endblock %}

