{% extends 'base.html.twig' %}
{% block body %}

{{ include('application/_navigation.html.twig') }}

 Connexion
 <p>Si vous n'avez pas de compte, <a href="{{ path('app_register') }}">créez en un</a></p>
{% endblock %}

