* {
    box-sizing: border-box;
   
}

@font-face {
    font-family: 'uniform-black';
    src: url(../fonts/Uniform-Extra-Condensed-Black.ttf);
}

@font-face {
    font-family: 'uniform-bold';
    src: url(../fonts/Uniform-Extra-Condensed-Bold.ttf);
}

@font-face {
    font-family: 'uniform-medium';
    src: url(../fonts/Uniform-Extra-Condensed-Medium.ttf);
}

@font-face {
    font-family: 'uniform-regular';
    src: url(../fonts/Uniform-Extra-Condensed.ttf);
}


body{
    font-family: 'uniform-regular';
    background-color: #010A3D;
    font-size: 1.9rem;
    color:#fffcfc;
}

#logo{
    width: 106px;
    height:auto;
}



/* CSS HEADER */


/* css barre navigation haute */

.d-flex { /* on vise la balise qui contient le logo et la nav et que cette balise est un conteneur flex via la class d-flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* agit sur l'axe horizontal par défaut */

}

header{
    /* background: radial-gradient(at center top, #00568E, #020B3D); */
    background: var(--radial-gradient-header, radial-gradient(77.25% 83.72% at 50% -23.26%, #00558E 10.95%, #010A3D 100%));
}

header .nav-haute{   
   padding: 20px 0;
    
}

header .nav-picto a {
    margin-left: 44px;
    color:#40B3D1;
    background-repeat: no-repeat;
    background-position: top center;
   padding-top:42px; 
    color:#fffcfc;
    font-family: 'uniform-medium';
    font-size:1.1rem;
    text-transform: uppercase;
    text-decoration: none;
}


header .nav-picto a.recherche {
    background-image: url(../icones/loupe-s.svg);
  
}

header .nav-picto a.recherche:hover{
    color:#40B3D1;
}

header .nav-picto a.compte {
    background-image: url(../icones/compte.svg);
    
}

header .nav-picto a.compte:hover{
    background-image: url(../icones/compte-bleu.svg);
    color:#40B3D1;
}

header .nav-picto a.recrutement {
    background-image: url(../icones/recrutement.svg);
    
}

header .nav-picto a.recrutement:hover{
    color:#40B3D1;
}

header .nav-picto a.pro {
    background-image: url(../icones/pro.svg);
 
}

header .nav-picto a.pro:hover {
    color:#40B3D1;
 
}
/* header .nav-picto a.lemag {
    background-image: url(../icones/lemag.svg);
  

} */


/* CSS barre navigation basse */


 header .nav-basse{
    background: #A31F58;
    padding: 10px 0;

}


a.lien-bas{
  
    color: #fffcfc;
    font-family: 'uniform-bold';
    font-size:1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 24px;
  
}

a.lien-bas:hover{
    text-decoration: underline  #fffcfc;
}

.nav-basse .rs img {
    width:36px;
}

.nav-basse .rs {
    margin-left:13px;
}


/* CSS MENU GAUCHE */

#separateur{
    
    border-right: solid 1px #40B3D1;
    
}

a.menu-gauche, a.power {

    font-family: 'uniform-regular';
    display: inline-block;
    padding: 20px;
    background: #010A3D;
    color: #fffcfc;
    border: 0;
    text-decoration: none;   
    font-size:1.7rem;
    text-transform:capitalize;
    /* width:255px; */
    width:104%;
}

a.menu-gauche:hover {
    
   /*  border-right: solid 8px #40B3D1; */
    background-image: url(../icones/barre-hover-menu-bleu.svg);
    background-repeat: no-repeat;
    background-position: right center;
   
}

a.power:hover{
    background-color: #A31F58;
    }

#deconnecte{
        border-bottom: solid 8px #A31F58;
        padding-bottom: 12px;
       
        }

.icone-menu-gauche{
    margin-right:10px;
}



/* CSS SECTION CENTRALE */


.top-menu {
    margin-top:60px;

}
.top-article {
    margin-top:80px;
}


/* CSS COMMUN */

h2{
    font-family: 'uniform-bold';
   /*  font-size:1.9rem; */
    text-transform: uppercase;
}


.icone-titre-rubrique{
    margin-right:22px;
}

a.bouton{
  
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content:center;
    border: 0;
    border-radius: 10px;
    font-size: 0.94rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing:0.75px;   
   
}

a:hover.bouton{
    opacity: 80%;
}

.cta {
    background: #A31F58;
    color: #fffcfc;
}

.secondaire {
    background: #40B3D1;
    color: #010A3D;
}


.icone-cta{
    margin-right:10px;
    
}





p{
    font-family: 'uniform-regular';
    font-size:0.94rem;
    margin-bottom:0;
    line-height:normal;
    
}


/* CSS COMMUNES CARD FILM / WIDGET*/

.card_border {
    width:256px; /* a retier lorsque la card sera dans la page avec un col */
    border-radius:10px;
    border:solid 1px #40B3D1;
    padding: 10px;               
     
}

.card{
    flex-basis:230px;  
    border-radius:0;
    background-color:#010A3D;
    gap: 9px;
    color:#fffcfc;
}
.card h3{
font-family:'uniform-regular';
font-size:1.9rem;
margin-bottom:0;
}

.card .tag {
    background: #010A3D;
    border: 1px solid #40B3D1;
    border-radius: 10px;
    font-family:'uniform-medium';
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:0.96px;
    width: 117px;
    padding: 10px 20px;
    position: absolute;
    left: 25%;
    top: -30px;
}

.avis{
    display:flex;
    justify-content:flex-end;
    width:100%;
    background-color:rgb(1 10 61/0.7) ;

}

.avis .star{
    width: 20px;
}

/* CSS CARD FILM COMPTE */

/* Dimension haute max pour une card film affichée dans la liste des préférences films */
.film{
    max-height: 496px;
}
/* positionnement spécifique à la crad film des avis */
.film .avis{
    position: absolute;
    top:62%;
}
/* CSS CARD WIDGET */

.widget .avis{
    position: absolute;
    top:50%;
}
.seance{
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: #A31F58 1px solid;
    padding-bottom: 10px;   
}
.seance p{
    font-family:'uniform-medium';
    font-size: 1.1rem;
}

.bleu{
    color:#40B3D1;
}




/* CSS FOOTER*/

 #top{
    border-top:#A31F58 10px solid;
    margin-top : 40px;
}
footer a{
    font-family: 'uniform-medium';
    font-size:0.94rem;
    text-transform: uppercase;
    text-decoration: none;
    color:#fffcfc;
}

a:hover.footer{
    text-decoration: underline  #fffcfc;

}

.flex-footer{
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* MEDIA QUERIES*/

@media screen and (min-width:769px) {
    .flex-footer{
        flex-direction: row;
        justify-content: space-between;
        
        
    }
    
}
