

.bloc-liste img{
    width:50px;
    height:auto;
}


.d-flex-slider{
     flex-basis:100%;
     display:flex;
     padding-top: 50px;
     overflow: hidden;

    
 }

img .icone-cta{
    margin-right:10px;
    width:20px;  
}

img.arrow-film{
position:absolute;
top:310px;
left:94%;
z-index: 100;
}

.film{
    max-height: 496px;
}









