{% extends 'base.html.twig' %}

{% block title %}Edit Fidelity{% endblock %}

{% block body %}
    <h1>Edit Fidelity</h1>

    {{ include('fidelity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fidelity_index') }}">back to list</a>

    {{ include('fidelity/_delete_form.html.twig') }}
{% endblock %}
