{% extends 'base.html.twig' %}

{% block title %}New Fidelity{% endblock %}

{% block body %}
    <h1>Create new Fidelity</h1>

    {{ include('fidelity/_form.html.twig') }}

    <a href="{{ path('app_fidelity_index') }}">back to list</a>
{% endblock %}
