{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!{% endblock %}

{% block body %}
<main>
        <section id="zone-centrale">
            <div class="container">
                <div class="row align-items-stretch">

{{include ("shared/_body.html.twig")}}

                    <article class="col-10 col-md-10 top-article"> <!-- zone principale droite -->

                            <div class="zone-centrale">
                            <div class="bloc-liste"> <!-- liste cinémas -->
                                <div class="d-flex-titre">
                                    <img class="icone-titre-rubrique" src="/assets/icones/cine-l.svg" alt="Icone bobine film">
                                    <h2 class="rubrique">Mes cinémas</h2>
                                </div>

                                {% for location in selectedLocation %}
                                
                                 <div class="bloc-cinemas row"> <!-- zone avec toutes les cards cinéma préférés -->
                                    <article class="mb-5 mb-lg-0 col-12 col-md-6 col-lg-3"> <!-- items card cinema -->
                                        <button class="coeur">
                                            <img src="/assets/icones/favori-full.svg" alt="favori full">
                                        </button>

                                        <a href="https://www.ugc.fr/cinema.html?id=43" target="_blank" class="nom-cine">
                                            <img class="cinema" src="/assets/images/ugcvelizy.png" alt="photo de cinéma Velizy Villacoublay">
                                         

                                            <h3>{{location.name}}</span></h3>
                                        </a>

                                </div>

                                {% endfor %}

                            </div>
                            <hr>
                            <div class="bloc-liste"> <!-- première liste de films par genre -->
                                <div class="d-flex-titre">
                                    <img class="icone-titre-rubrique" src="/assets/icones/bobine-m.svg" alt="Icone bobine film">
                                    <h2 class="icone rubrique ">Les séances dans mes cinémas</h2>
                                </div>
                                <div class="d-flex-slider"> <!-- slider film -->
                                    <article class="card-border film">
                                        <div class="card">
                                            <div class="tag">Aventure</div>

                                            <a href="">
                                                <img class="affiche" src="/assets/images/adele.jpg" alt="Adele Blanc sec">
                                            </a>
                                            <div class="avis">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-demi.svg" alt="étoile">
                                            </div>
                                            <h3>Adèle Blanc Sec</h3>
                                            <p>En cette année 1912, Adèle Blanc-Sec, jeune journaliste intrépide, est
                                                prête à tout pour arriver à
                                                ses fins...
                                            </p>

                                            <a href="#" class="bouton cta">
                                                <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                                    <span>Réserver</span>
                                            </a>

                                        </div>
                                    </article>
                                    <article class="card-border film">
                                        <div class="card">
                                            <div class="tag">Aventure</div>

                                            <a href="">
                                                <img class="affiche" src="/assets/images/indiana-jones.jpg" alt="Indiana Jones">
                                            </a>
                                            <div class="avis">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                            </div>
                                            <h3>Indiana Jones</h3>
                                            <p>Plus de dix ans à enseigner au Hunter College de New York,
                                                Jones, professeur d'archéologie, est sur le point de...
                                            </p>

                                            <a href="#" class="bouton cta">
                                                <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                                    <span>Réserver</span>
                                            </a>

                                        </div>
                                    </article>
                                    <article class="card-border film">
                                        <div class="card">
                                            <div class="tag">Jeunesse</div>

                                            <a href="">
                                                <img class="affiche" src="/assets/images/rebelle.jpg" alt="Rebelle">
                                            </a>
                                            <div class="avis">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                            </div>
                                            <h3>Rebelle</h3>
                                            <p>Merida, l’impétueuse fille du roi Fergus et de la reine Elinor, a un
                                                problème. Elle est la seule fille au monde...
                                            </p>

                                            <a href="#" class="bouton cta">
                                                <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                                    <span>Réserver</span>
                                            </a>

                                        </div>
                                    </article>
                                    <article class="card-border film">
                                        <div class="card">
                                            <div class="tag">Drame</div>

                                            <a href="">
                                                <img class="affiche" src="/assets/images/mascarade.jpg" alt="Mascarade">
                                            </a>
                                            <div class="avis">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                                <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                            </div>
                                            <h3>Mascarade</h3>
                                            <p>Le séduisant Adrien était promis à une carrière de danseur, jusqu'à un
                                                terrible accident de moto...
                                            </p>

                                            <a href="#" class="bouton cta">
                                                <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                                    <span>Réserver</span>
                                            </a>

                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>
                    </article>
                    <!-- FIN ZONE CENTRALE -->
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
