{% extends 'base.html.twig' %}

{% block title %}Mon espace fidélité{% endblock %}

{% block body %}
<main>
        <section id="zone-centrale">
            <div class="container">
                <div class="row align-items-stretch">

{{include ("shared/_body.html.twig")}}

                    <article class="col-10 col-md-10 top-article"> <!-- zone principale droite -->

                        <h1>Mon Espace Fidélité</h1>

                    </article>
                    <!-- FIN ZONE CENTRALE -->
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
