{% extends 'base.html.twig' %}

{% block title %}Widget - Home{% endblock %}

{% block body %}
<main>
        <section id="zone-centrale">
            <div class="container">
                <div class="row align-items-stretch">


                    <article class="col-10 col-md-10 top-article"> <!-- zone principale droite -->

                        <div class="row central">

                    <div id="widget"> <!--container flex columns-->
                        <div class="d-flex infos">
                            <div> <!-- item 1 -->
                           
                                <p class="prenom bleu">Bonjour {{app.user.firstname}},</p>
                                {% for location in app.user.location %}
                                <h1>Vos prochaines séances - <span class="normal">{{location}}</span></h1>
                                {% endfor %}
                            
                            </div>
                            <div class="zone-points d-flex"> <!-- items 2 -->
                                <div class="picto-points">
                                    <img src="/assets/icones/cadeau-s.svg" alt="icone cadeau">
                                    <p>50 pts</p>
                                </div>
                                <p class="date-max">à utiliser avant<br>le 31/12/2023</p>
                            </div>
                        </div>
                        <div class="d-flex-slider"> <!-- slider séances -->
                            <article class="card-border">
                                <div class="card">
                                    <div class="tag">Aventure</div>

                                    <a href="">
                                        <img class="affiche" src="/assets/images/adele.jpg" alt="Adele Blanc sec">
                                    </a>
                                    <div class="avis">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-demi.svg" alt="étoile">
                                    </div>
                                    <h3>Adèle Blanc Sec</h3>
                                    <div class="seance d-flex">
                                        <p>Prochaine séance</p>
                                        <p class="bleu">18h50</p>

                                    </div>
                                    <div class="d-flex"> <!-- flexbox -->
                                        <div class="data">
                                            <p class="titre">Votre cinéma</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/cine-xxs.svg" alt="icone cinema">
                                                <p class="places"><span class="bleu nb">1200</span> places restantes</p>
                                            </div>
                                        </div>

                                        <div class="data">
                                            <p class="titre">Votre zone préférée</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/fauteuil-xs.svg" alt="icone fauteuil">
                                                <p class="places"><span class="bleu nb">100</span> places restantes</p>
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#" class="bouton cta">
                                        <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                        <span>Réserver</span>
                                    </a>

                                </div>
                            </article>
                            <article class="card-border">
                                <div class="card">
                                    <div class="tag">Aventure</div>

                                    <a href="">
                                        <img class="affiche" src="/assets/images/indiana-jones.jpg" alt="Indiana Jones">
                                    </a>
                                    <div class="avis">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                    </div>
                                    <h3>Indiana Jones</h3>
                                    <div class="seance d-flex">
                                        <p>Prochaine séance</p>
                                        <p class="bleu">19h10</p>

                                    </div>
                                    <div class="d-flex"> <!-- flexbox -->
                                        <div class="data">
                                            <p class="titre">Votre cinéma</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/cine-xxs.svg" alt="icone cinema">
                                                <p class="places"><span class="bleu nb">250</span> places restantes</p>
                                            </div>
                                        </div>

                                        <div class="data">
                                            <p class="titre">Votre zone préférée</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/fauteuil-xs.svg" alt="icone fauteuil">
                                                <p class="places"><span class="bleu nb">15</span> places restantes</p>
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#" class="bouton cta">
                                        <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                        <span>Réserver</span>
                                    </a>

                                </div>
                            </article>
                            <article class="card-border">
                                <div class="card">
                                    <div class="tag">Jeunesse</div>

                                    <a href="">
                                        <img class="affiche" src="/assets/images/rebelle.jpg" alt="Rebelle">
                                    </a>
                                    <div class="avis">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                    </div>
                                    <h3>Rebelle</h3>
                                    <div class="seance d-flex">
                                        <p>Prochaine séance</p>
                                        <p class="bleu">19h30</p>

                                    </div>
                                    <div class="d-flex"> <!-- flexbox -->
                                        <div class="data">
                                            <p class="titre">Votre cinéma</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/cine-xxs.svg" alt="icone cinema">
                                                <p class="places"><span class="bleu nb">1000</span> places restantes</p>
                                            </div>
                                        </div>

                                        <div class="data">
                                            <p class="titre">Votre zone préférée</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/fauteuil-xs.svg" alt="icone fauteuil">
                                                <p class="places"><span class="bleu nb">100</span> places restantes</p>
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#" class="bouton cta">
                                        <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                        <span>Réserver</span>
                                    </a>

                                </div>
                            </article>
                            <article class="card-border">
                                <div class="card">
                                    <div class="tag">Drame</div>

                                    <a href="">
                                        <img class="affiche" src="/assets/images/mascarade.jpg" alt="Mascarade">
                                    </a>
                                    <div class="avis">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                        <img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
                                    </div>
                                    <h3>Mascarade</h3>
                                    <div class="seance d-flex">
                                        <p>Prochaine séance</p>
                                        <p class="bleu">18h50</p>

                                    </div>
                                    <div class="d-flex"> <!-- flexbox -->
                                        <div class="data">
                                            <p class="titre">Votre cinéma</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/cine-xxs.svg" alt="icone cinema">
                                                <p class="places"><span class="bleu nb">1000</span> places restantes</p>
                                            </div>
                                        </div>

                                        <div class="data">
                                            <p class="titre">Votre zone préférée</p>
                                            <div class="d-flex">
                                                <img src="/assets/icones/fauteuil-xs.svg" alt="icone fauteuil">
                                                <p class="places"><span class="bleu nb">100</span> places restantes</p>
                                            </div>
                                        </div>

                                    </div>

                                    <a href="#" class="bouton cta">
                                        <img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
                                        <span>Réserver</span>
                                    </a>

                                </div>
                            </article>
                        </div>

                        

                        



                    </div>





                </div>

                    </article>
                    <!-- FIN ZONE CENTRALE -->
                </div>
            </div>
        </section>
    </main>
</div>

	<footer id="top">
<img src="/assets/images/screen-hp.jpg" alt="screen hompepage UGC">

	</footer>
{% endblock %}


